<h1>Create Comic Entry</h1>

<form action="/comics" method="post">
  <div class="input-field">
    <input placeholder="Placeholder" name="title" id="title" type="text" class="validate">
    <label for="title">Enter Comic</label>
  </div>

  <div class="input-field">
    <input placeholder="Placeholder" name="publisher" id="title" type="text" class="validate">
    <label for="publisher">Enter Publisher (i.e. Marvel, DC, etc.)</label>
  </div>

  <div class="input-field">
    <input placeholder="Placeholder" name="issue" id="title" type="text" class="validate">
    <label for="issue">What issue number do you have?</label>
  </div>

  <input type="submit" name="" value="Create Comic Listing" class="btn">
</form>
