<h2>Create Comics</h2>

<form class="" action="/comics" method="post">
  
  <label for="title">Comic Title</label>
  <input type="text" name="title" id="title" value="">

  <label for="publisher">Publisher</label>
  <input type="text" name="publisher" id="publisher" value="">

  <label for="issue">Issue Number</label>
  <input type="integer" name="issue" id="issue" value="">

  <input type="submit" name="" value="Create Comic">

</form>
