

<h2 class="center">Welcome to The Comic Book List App</h2>
<h5 class="center">With Great Responsibility, Comes A Great Comic Collection. Create a new entry in your collection or view your collection by clicking above.</h5>
<br><br>

<img src="https://pilotpmr.com/wp-content/uploads/2015/07/marvel_character_group-crop.jpg" alt="group" class="center">
