<div class="container">
  <ul>
    <li><a href="/comics/new">Comics List</a></li>
  </ul>

  <h2>Comics</h2>
  <ul>
    <% @comic.each do |comic| %>
    <li><%= comic.title %> - <%= comic.publisher %> - <%= comic.issue %>
    <% end %>
  </ul>
</div>
