<%= flash[:notice] if flash[:notice] %>

<h2 class="center">Welcome to The Comic Book List App</h2>
<h5 class="center">With Great Responsibility, Comes A Great Comic Collection. Please <a href="/login" style="white"><font color="white">click here to login</font></a> or if you need an account <a href="/signup" text-decoration: underline><font color="white">Click here to sign up</font></a>!</h5>

<img src="https://d1466nnw0ex81e.cloudfront.net/n_iv/600/1058637.jpg" alt="spider-man" width="500" height="600" class="right">
<img src="https://cdn.flickeringmyth.com/wp-content/uploads/2018/11/Batman-56-600x922.jpg" alt="batman" width="500" height="600" class="center">
